<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Move & Groove - Fitness tracker</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#000000" />
    <meta name="author" content="Kévin Renier">
    <meta
      name="description"
      content="Move & Groove is a fitness tracker platform to easily record your workout performance! Kévin Renier Development project. Built using Bootstrap, Ruby on Rails and Twilio WhatsApp API."
    />
    <meta name="keywords" content="Kévin Renier; Portfolio; Product manager; Geneva; Developer; Frontend developer; Fitness tracker; API; Performance;" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-preview': false %>
    <link rel="preconnect" href="https://kit.fontawesome.com" />
    <link rel="preconnect" href="https://www.gstatic.com" />
    <link rel="alternate" hrefLang="x-default" href="https://thekecha.com/krenier/moveandgroove" />
    <link rel="icon" href="data:,">
    <%= javascript_include_tag 'https://kit.fontawesome.com/7967897a07.js', async: true %>
    <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js', async: false %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <% if notice %>
      <div class="alert alert-success">
        <div class="container">
          <%= notice %>
        </div>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="alert alert-danger">
        <div class="container">
          <%= alert %>
        </div>
      </div>
    <% end %>

    <a href="#" class="back-to-top"></a>
    
    <% if current_page?(root_path) %>
      <%= yield %>
    <% else %>
      <div class="container app-container">
        <%= yield %>
      </div>
    <% end %>
    
    <%= render "layouts/footer" %>

  </body>
</html>
